/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 ** require_tree .
 ** require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
@import "bootstrap";

table {
	td {
	  padding: .25em .75em;
	}
	th {
	  text-align: center;
	  padding: .25em 1em;
	}
}
.italic, .italics {text-style:italic;}
.center {text-align:center;}
.bold {font-weight:bold;}

.but {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    padding: 1em 2em;
    float: inherit !important;
    display: block !important;
    position: relative;
}

.but:hover, .but:checked {
	color: #fff;
    background-color: #286090;
    border-color: #204d74;	
}


.but input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}



/*-------------------*/

$warningDark: #722;
$warningEmphasis: #D99;
$warningBackground: #FDD;

.modal-header {text-shadow: 2px 2px rgba(153, 153, 153, 0.58);}

.modal.warning {
	.modal-content {
		background-color: $warningBackground;
		border-color: $warningEmphasis;
	}
	.modal-header 
	{
		border-bottom-color: $warningEmphasis;
	}
	.modal-footer {
		border-top-color: $warningBackground;
		.btn {
			background-color:$warningEmphasis;
			color:backgroundDark;
		}
	}

}
